{{ define "chart-row" }}

  <tr>
    <td>
      <abbr title="{{ .TitleLatinized }}"
      {{if eq .ChartType "boss"}}
        class="text-warning fw-bold"
      {{end}}
      >
        {{ .Title }}
      </abbr>
    </td>
    <td
    {{if eq .ChartType "boss"}}
        class="text-warning fw-bold"
      {{end}}
      >
      {{ .Artist }}
    </td>
    <td 
    {{if eq .ChartType "boss"}}
        class="text-warning fw-bold"
      {{end}}
      >
      {{ .ChartLevel }}
    </td>
    <td class="version-{{ .VersionId }}">
      <abbr title="{{ .Version }}">{{ .Version }}</abbr>
    </td>
  </tr>

{{ end }}
