{{define "footer"}}
<footer>
  <hr />
  <div class="d-flex flex-column align-items-center gap-2">
    <p class="text-center">
      © 2026
      <a href="https://github.com/boonsboos">boons</a> | Based on the
      <a href="https://bmsa.bottoni.club">Bottoni Monthly Score Attack</a>
    </p>
    <p class="text-center">
      Issues? DM on Discord or create an issue on GitHub
    </p>
    <p class="text-center small">
      <a href="/privacy-policy">Cookies & Privacy policy</a>
    </p>
  </div>
</footer>
{{ end }}
