{{ define "score-row" }}
<tr>
  <td>
    <div>{{ .Player.DJName }}</div>
    <div class="{{ danColor .Player.SPDanLevel }}">
      <abbr title="Dan Level: {{ danStringLatin .Player.SPDanLevel }}">
        {{ danString .Player.SPDanLevel }}
      </abbr>
    </div>
  </td>
  <td>{{ .Rating }}</td>
  {{ range .Scores }}
  <td data-sort="{{.ExScore}}">
    <abbr title="Last played: {{ .Timestamp }}">
      <div>{{ .ExScore }} EX</div>
      <div>{{ .ScoreRate }} | {{ .Misscount }} BP</div>
      <div>
        <span style="color: hsl({{ .Rating }}deg, 50%, 50%) !important;"
          >{{ ratingFormat .Rating }}</span
        >
        rating
      </div>

      <div class="lamp-{{ .Lamp }}">{{ lampString .Lamp }}</div>
    </abbr>
  </td>
  {{ end }}
</tr>
{{ end }}
