<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIDX Nederland Score Aanval</title>

    <meta property="og:title" content="IIDX Nederland Score Attack" />
    <meta
      property="og:description"
      content="Een beatmania IIDX highscore competitie."
    />
    <meta property="og:url" content="https://iidx.otoge.win" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/v.css" />
  </head>
  <body>
    <div class="container gap-3 d-flex flex-column">
      <div class="pt-4">
        <a class="text-decoration-none text-light-emphasis" href="/">
          <h1 class="display-2">IIDX Nederland Score Aanval</h1>
        </a>
        <p class="lead">Een beatmania IIDX highscore competitie.</p>
      </div>

      <div class="d-flex gap-3 justify-content-around flex-wrap">
        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Meedoen</h5>
            <p class="card-text">
              Log in met je 🌸 account om mee te doen aan de score aanval. Je
              scores worden elke 10 minuten bijgewerkt.
            </p>
            <a
              href="https://kailua.projectflower.eu/oauth/authorize?client_id={{ .ClientId }}&response_type=code&redirect_uri={{ .RedirectURI }}&scope=settings_read"
              class="btn btn-primary"
              >🌸 Meedoen</a
            >
          </div>
        </div>

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Scores</h5>
            <p class="card-text">
              Bekijk de scores van alle deelnemers aan de score aanval. Je kunt
              hier ook vorige brackets bekijken. (WIP)
            </p>
            <a href="/scores" class="btn btn-primary">Naar scores</a>
          </div>
        </div>
      </div>

      <hr />
      
      <main role="main">
        {{ if .BracketActive }}
          <h2> {{ .PoolName }} charts</h2>

          <p>Bracket is actief vanaf {{ .StartTime }} tot {{ .EndTime }}</p>

          <div>
            <a href="/scores/lower">
              <h3>Lower bracket</h3>
            </a>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Titel</th>
                  <th>Artiest</th>
                  <th>Chart</th>
                  <th>Versie</th>
                </tr>
              </thead>
              <tbody>
                {{ range .LowerBracketCharts }} {{ template "chart-row" . }} {{
                end }}
              </tbody>
            </table>
          </div>

          <div>
            <a href="/scores/upper">
              <h3>Upper bracket</h3>
            </a>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Titel</th>
                  <th>Artiest</th>
                  <th>Chart</th>
                  <th>Versie</th>
                </tr>
              </thead>
              <tbody>
                {{ range .UpperBracketCharts }} {{ template "chart-row" . }} {{
                end }}
              </tbody>
            </table>
          </div>
        {{ else }}
          <h2 class="text-center">There is currently no active bracket</h2>
          <p class="text-center">Come back later...</p>
        {{ end }}
      </main>

      <hr />
      <h2>Explanation</h2>
      <section>
        <h3 class="text-decoration-underline">> How does it work?</h3>
        <p>
          Every month, three brackets of 6 charts are selected for the score clash. The lower bracket is for less experienced players, up to 6th dan. The upper bracket is for more experienced players, 7th dan and above. 
          The master bracket is aimed at players around 9th to 10th dan and up. 
        </p>
        <p>
          Each bracket has 5 normal charts and 1 boss chart. The boss chart is an extra challenge that yields <b>2x</b> the points of a normal chart.
          It is indicated in <span class="text-warning fw-bold">bold yellow</span> in the score and chart table.
          The boss chart is harder to score on, but highly recommended to try anyway, as it can significantly boost your score.
        </p>
        <p>
          Your score is calculated based on your placement among other players on the same chart. The formula for this is as follows: 
          
        </p>
        <p>
          <code>rating = 100 * (1 - ((placement - 1) / total players))</code>
        </p>
        <p>
          100 points is the maximum score you can achieve on a chart.
          0 points is the minimum score you can achieve on a chart 
          (for example, if you haven't achieved any score). After that, 
          the weighted average of the ratings of all charts is calculated,
          with the number of players per chart as the weight. Again, the boss chart is weighted double.
        </p>
      </section>
      <section>
        <h3 class="text-decoration-underline">How do I read the chart levels?</h3>
        <p>
          The difficulty scale in IIDX ranges from 1 to 12. IIDX has 5
          different difficulty brackets: Beginner, Normal, Hyper, Another
          and Leggendaria.
          These are abbreviated as <b>B</b>, <b>N</b>, <b>H</b>, <b>A</b> and <b>L</b> respectively.
          There are also two different play modes: Single (7key+1) and Double (14key+2). These are abbreviated as <b>SP</b> and <b>DP</b>
          <br/><br/>
          Let's look at some examples:

          <ul>
            <li>
              <b>SPA10</b>. This stands for Single Play Another level 10.
            </li>
            <li>
              <b>DPN4</b>, which stands for Double Play Normal level 4.
            </li>
          </ul>
        </p>
    </div>

    {{ template "footer" }}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
